<div id="<%= dom_id todo_list %>">
  <p>
    <strong>Title:</strong>
    <%= todo_list.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo_list.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= todo_list.deadline %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= todo_list.done %>
  </p>

</div>
